In [104]:
from textattack.augmentation import WordNetAugmenter , EmbeddingAugmenter , EasyDataAugmenter , CharSwapAugmenter , CheckListAugmenter
import random
import pandas as pd
import nlpaug.augmenter.word as naw

# Initialize augmentation techniques
augmenter_synonym = naw.SynonymAug(aug_src='wordnet')
augmenter_antonym = naw.AntonymAug()
augmenter_swap = naw.RandomWordAug(action="swap")
augmenter_delete = naw.RandomWordAug(action="delete")

def random_augmantation(text):

    random_number = random.randint(0, 3)
    if random_number == 0:
        aug_text = augmenter_synonym.augment(text)
    if random_number == 1:
        aug_text = augmenter_antonym.augment(text)
    if random_number == 2:
        aug_text = augmenter_swap.augment(text)

    if random_number == 3:
        aug_text = augmenter_delete.augment(text)
    return aug_text

In [105]:
random_augmantation("start each day with positive thoughts and make your day")

['end each day with negative thoughts and unmake your day']

In [106]:
dataset = pd.read_csv("data/dataset/train.csv")

In [107]:
from tqdm import tqdm

In [108]:
labels = dataset.Category.unique()
resume = []
category = []
for label in tqdm(labels):
    length = len(dataset[dataset['Category']==label])
    loop_range = 150 - length
    df = dataset[dataset['Category']==label]
    for _ in range(loop_range):
        df = df.sample(frac = 1)
        text = df.iloc[0]['Resume_clean']
        aug_text = random_augmantation(text)[0]
        resume.append(aug_text)
        category.append(label)

100%|██████████| 24/24 [00:09<00:00,  2.60it/s]

In [109]:
aug_df = pd.DataFrame({"Resume_clean":resume,"Category":category})

In [111]:
aug_df

                                           Resume_clean     Category
0     adult education teacher omplishments cal poly ...  AGRICULTURE
1     volunteer front desk receptionist canteen work...  AGRICULTURE
2     graduate research assistant summary dedicated ...  AGRICULTURE
3     telephone interviewer summary organized orient...  AGRICULTURE
4     telephone interviewer summary organized task o...  AGRICULTURE
...                                                 ...          ...
1345  policy service specialist iii professional sum...   AUTOMOBILE
1346  secretary ii summary energetic management prof...   AUTOMOBILE
1347  automobile service manager summary attentive a...   AUTOMOBILE
1348  general liability claim representative summary...   AUTOMOBILE
1349  manager summary product manager bringing years...   AUTOMOBILE

[1350 rows x 2 columns]